div#wikiformat {
border:2px solid black;
 font-weight:bold;
 font-family:courier,monospace;
}

div#wikiformat p {
 margin:0;
 padding:0 0.5em;
}

p.wikichange {
/*
 background-color:#fff;
 color:inherit;
*/
}

p.wikiadd {
/*
 background-color:#fcc;
 color:inherit;
*/
}

p.wikidelete {
/*
 background-color:#cfc;
 color:inherit;
*/
}

div#main dt {
/*
 background-color:inherit;
 color:red;
*/
 font-weight:bold;
}

div#wikiformat span {
 border:1px dotted black;
 border-width:1px 0;
 padding:0 0.3em;
}

div#wikiformat span.plus {
/*
 background-color:white;
 color:red;
*/
}

div#wikiformat span.minus {
/*
 background-color:white;
 color:green;
*/
}
